body{
  font-family:Georgia, 'Times New Roman', Times, serif;
  font-size: large;
}
head{
  background-color: aquamarine;
}
nav{
  background-color: yellow;
}
main{
  background-color: lightcoral;
  font-size: x-large;
}
footer{
  background-color: lightgreen;
}
li{
  display: inline;
  width: 150%;
}
h1{
  text-align: center;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  color: rebeccapurple;
  background-color: beige;
}
p{
  line-height: 500%;
}